{% load static %}

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>

		<link rel="stylesheet" href="{% static 'books/css/style.css' %}">
	</head>

	<body>
		{% include "books/testFunc_include.html" %}
		{% block content %}

		{% endblock %}
	</body>

</html>